<h1>{{name}}</h1>
<h3>Occupation: {{occupation}}</h3>
<h3>Catch Phrase: {{catchPhrase}}</h3>
<br>
<a href="/celebrities/{{_id}}/edit">UPDATE</a>
<br>
<br>
<form action="/celebrities/{{_id}}/delete" method="post">
    <button>DELETE</button>
</form>