<h1>Aqui los detalles de las pelis</h1>

<h3>Titulo: {{detalles.title}}</h3>
<h3>Genero: {{detalles.genre}}</h3>
<h3>Trama: {{detalles.plot}}</h3>
<h3>Elenco</h3>
<ul>

  {{#each detalles.cast}}
  <li>
    <p>Nombre: {{this.name}}</p>
    <p>Ocupacion: {{this.occupation}}</p>
    <p>Frase: {{this.catchPhrase}}</p>
  </li>
  {{/each}}

  <form action="/movies/{{detalles._id}}/delete" method="post">
    <button>DELETE</button>
  </form>
</ul>